h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color:#222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
  
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}



footer p {
  color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

a:hover, a:focus {text-decoration: underline;}

footer a {
  color: #F2F2F2;
  text-decoration: underline;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}
.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 640px;

  margin: 0 auto;
}


#header_wrap {
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);
}

#header_wrap .inner {
  padding: 50px 10px 30px 10px;
}

#project_title {
  margin: 0;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

#project_tagline {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  background: none;
  text-shadow: #111 0px 0px 10px;
}

#main_content_wrap {
  background: #f2f2f2;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}

#main_content {
  padding-top: 40px;
}

#footer_wrap {
  background: #212121;
}
@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  #downloads {
    display: none;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  #project_title {
  font-size: 32px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }

}


.progressbar {
  width:100%;
  height:80%;
  background: #eee;
 
 overflow: hidden;
    border-radius: 5pt;
-moz-border-radius:5px;
-webkit-border-radius:5px;
 -webkit-box-shadow: 
        0 1px 5px rgba(0,0,0,0.15) 
        ; 

  -moz-box-shadow: 
       0 1px 5px rgba(0,0,0,0.15); 
        
  box-shadow: 
        0 1px 5px rgba(0,0,0,0.15);   
}
.progressbar .innerbar {
  height:100%;
    font-size: 25px;
   border-radius: 5pt;
-moz-border-radius:5px;
-webkit-border-radius:5px;
    
  background: orange; 

}
.game{
    margin:0 auto; width:455px; height:615px; 


   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   perspective: 1000;
        background: #eee;
   -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
          -webkit-box-shadow: 
        0 1px 5px rgba(0,0,0,0.15) 
        ; 

  -moz-box-shadow: 
       0 1px 5px rgba(0,0,0,0.15); 
        
  box-shadow: 
        0 1px 5px rgba(0,0,0,0.15); 
    
}
.acceleration{

}
.game:hover {
  cursor: default;
}
.menuwindow{
 position: relative;
  display: none;
}
.helpwindow{
   position: relative;
    display: none;
}
.menuwindow.on{
 position: relative;
   display: block;
}
.menuwindow.on:after {
  content: " ";
  z-index: 1000;
  display: block;
  position: absolute;
  width: 455px;
  height: 615px;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5pt;
-moz-border-radius:5px;
-webkit-border-radius:5px;
}
.helpwindow.on{
 position: relative;
 display: block;
}
.helpwindow.on:after {
  content: " ";
  z-index: 1000;
  display: block;
  position: absolute;
  width: 455px;
  height: 615px;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);

  border-radius: 5pt;
-moz-border-radius:5px;
-webkit-border-radius:5px;
}
.scoreboard{
   position: relative;
    display: none;
}
.scoreboard.on{
 position: relative;
   display: block;
}
.scoreboard.on:after {
  content: " ";
  z-index: 1000;
  display: block;
  position: absolute;
  width: 455px;
  height: 615px;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5pt;
-moz-border-radius:5px;
-webkit-border-radius:5px;
}
.winscreen{
   position: relative;
    display: none;
}
.winscreen.on{
 position: relative;
   display: block;
}
.winscreen.on:after {
  content: " ";
  z-index: 1000;
  display: block;
  position: absolute;
  width: 455px;
  height: 615px;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5pt;
-moz-border-radius:5px;
-webkit-border-radius:5px;
}

.grid{
   width: 50px;
   height:50px;


border-radius: 10pt;
-moz-border-radius:10px;
-webkit-border-radius:10px;

 -webkit-box-shadow: 
        0 1px 5px rgba(0,0,0,0.15); 

  -moz-box-shadow: 
       0 1px 5px rgba(0,0,0,0.15); 
        
  box-shadow: 
        0 1px 5px rgba(0,0,0,0.15); 
}

.self{
background-color:#e0eeee;
}
.oppo{
background-color: #fef5ca;
}
.gamepanel{
position: relative;
   float: left;
   width: 335px;
   top:5px;
   left:10px;
}
.leftcol{
position: relative;
   float: left;
   width: 50px;
   height:605px;
   background-color: #e7e7de;
   top: 5px;
   left:5px;
 
}
.leftcol1{
   position: relative;
   top: 0px;
   left: 0px;
   width:50px;
   height:50px;
   background-color: #8ee5ee;
  -webkit-box-shadow: 
        0 1px 5px rgba(0,0,0,0.15) 
        ; 

  -moz-box-shadow: 
       0 1px 5px rgba(0,0,0,0.15); 
        
  box-shadow: 
        0 1px 5px rgba(0,0,0,0.15); 
   border-radius: 5pt;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;

}
.leftcol2{
   position: relative;
   top:5px;
   left: 0px;
   width:50px;
   height:215px;
   background-color: tomato;
   
   border-radius: 5pt;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   -webkit-box-shadow: 
        0 1px 5px rgba(0,0,0,0.15) 
        ; 

  -moz-box-shadow: 
       0 1px 5px rgba(0,0,0,0.15); 
        
  box-shadow: 
        0 1px 5px rgba(0,0,0,0.15); 
}

.leftcol4{
   position: relative;
   float: left;
   top: 10px;
   left: 0px;
   width:50px;
   height:50px;
   background-color: #fef5ca;
  
 
   border-radius: 5pt;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
-webkit-box-shadow: 
        0 1px 5px rgba(0,0,0,0.15) 
        ; 

  -moz-box-shadow: 
       0 1px 5px rgba(0,0,0,0.15); 
        
  box-shadow: 
        0 1px 5px rgba(0,0,0,0.15); 
}

.leftcol6{
   position: relative;
   float: left;
   top: 15px;
   left: 0px;
   width:50px;
   height:215px;
   background-color:#33ff33;
  
   border-radius: 5pt;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
  -webkit-box-shadow: 
        0 1px 5px rgba(0,0,0,0.15) 
        ; 

  -moz-box-shadow: 
       0 1px 5px rgba(0,0,0,0.15); 
        
  box-shadow: 
        0 1px 5px rgba(0,0,0,0.15); 
    }
.leftcol7{
   position: relative;
   float: left;
   top: 20px;
   left: 0px;
   width:50px;
   height:50px;
   background-color: #8ee5ee;

   border-radius: 5pt;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   -webkit-box-shadow: 
        0 1px 5px rgba(0,0,0,0.15) 
        ; 

  -moz-box-shadow: 
       0 1px 5px rgba(0,0,0,0.15); 
        
  box-shadow: 
        0 1px 5px rgba(0,0,0,0.15); 
}
.rightcol{
position: relative;
   float: left;
   width: 50px;
   height:605px;
   background-color: #e7e7de;
   top: 5px;
   left:15px;
}
.rightcol1{
   position: relative;
   
   left: 0px;
   width:50px;
   height:50px;
   background-color: #8ee5ee;
  
   border-radius: 5pt;
 -webkit-box-shadow: 
        0 1px 5px rgba(0,0,0,0.15) 
        ; 

  -moz-box-shadow: 
       0 1px 5px rgba(0,0,0,0.15); 
        
  box-shadow: 
        0 1px 5px rgba(0,0,0,0.15); 
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
}
.rightcol2{
   position: relative;
   top:5px;
   left: 0px;
   width:50px;
   height:215px;
   background-color: tomato;
   border-radius: 5pt;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
  
  -webkit-box-shadow: 
        0 1px 5px rgba(0,0,0,0.15) 
        ; 

  -moz-box-shadow: 
       0 1px 5px rgba(0,0,0,0.15); 
        
  box-shadow: 
        0 1px 5px rgba(0,0,0,0.15); 
}

.rightcol4{
   position: relative;
   float: left;
   top: 10px;
   left: 0px;
   width:50px;
   height:50px;
   background-color: #e0eeee;
   
  
   border-radius: 5pt;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   -webkit-box-shadow: 
        0 1px 5px rgba(0,0,0,0.15) 
        ; 

  -moz-box-shadow: 
       0 1px 5px rgba(0,0,0,0.15); 
        
  box-shadow: 
        0 1px 5px rgba(0,0,0,0.15); 
}

.rightcol6{
   position: relative;
   float: left;
   top: 15px;
   left: 0px;
   width:50px;
   height:215px;
   background-color: #33ff33;
    
   border-radius: 5pt;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
 -webkit-box-shadow: 
        0 1px 5px rgba(0,0,0,0.15) 
        ; 

  -moz-box-shadow: 
       0 1px 5px rgba(0,0,0,0.15); 
        
  box-shadow: 
        0 1px 5px rgba(0,0,0,0.15); 

}
.rightcol7{
   position: relative;
   float: left;
   top: 20px;
   left: 0px;
   width:50px;
   height:50px;
   background-color: #8ee5ee;
  
   border-radius: 5pt;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   -webkit-box-shadow: 
        0 1px 5px rgba(0,0,0,0.15) 
        ; 

  -moz-box-shadow: 
       0 1px 5px rgba(0,0,0,0.15); 
        
  box-shadow: 
        0 1px 5px rgba(0,0,0,0.15); 
}
.outline{
    position: relative;
   float: left;
   left: 0px;
   width: 100%;

   text-align: center;
 
}
.wrapper{
   position: relative;
   float: left;
   width: 335px;
   height: 50px;
   margin-bottom: 5px;
  border-radius: 5pt;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;

}
.col1{
   position: absolute;
   
   left: 5px;
 
}
.col2{
   position: absolute;
  
   left: 60px;
  
  
}
.col3{
    position: absolute;
   left: 115px;
  
}
.col4{
  position: absolute;
  
   left: 170px;
  
  
}
.col5{
   position: absolute;
  
   left: 225px;

  
}
.col6{
  position: absolute;
  
   left: 280px;

  
}

body {
  
   border-width: 0px;
   padding: 0px;
   margin: 0px;
   font-size: 90%;
   background-color: #e7e7de;
   text-align:center;
   overflow:hidden;
    
  color:#373737;
 
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

}

@font-face {
   font-family: AgentOrange;
   src: url('AgentOrange.ttf');
}
.gridnum{
  line-height: 45px;
   text-align: center;
   color:black;
   vertical-align: text-bottom;
font-size: 22px;
font-family: AgentOrange;
}
.scorenum{
 line-height: 45px;
   text-align: center;
   vertical-align: text-bottom;
font-size: 22px;
font-family: AgentOrange;
color:red;
font-weight:900;

}
.barnum{
 line-height: 52px;
   text-align: center;
   vertical-align: text-bottom;
font-size: 22px;
font-family: AgentOrange;
color:white;
font-weight:900;
}
.boardnum{
  line-height: 45px;
   text-align: center;
   color:white;
   vertical-align: text-bottom;
font-size: 22px;
font-family: AgentOrange;
}
.ai{
  line-height: 50px;  line-height: 45px;
   text-align: center;
   color:black;
   vertical-align: text-bottom;
font-size: 22px;
font-family: AgentOrange;
   text-align: center;
   vertical-align: text-bottom;
font-size: 22px;
font-family: AgentOrange;
color:white;
font-weight:900;
-webkit-text-shadow: 0px 0px 5px yellow;
-moz-text-shadow: 0px 0px 5px yellow;
text-shadow: 0px 0px 5px yellow;

}
.menu{
  text-align: center;
  line-height: 50px;
 text-align: center;
 font-size: 35px;
color: white;
 font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
-webkit-transform: rotate(-90deg); 
-moz-transform: rotate(-90deg); 
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.active{
  -webkit-text-shadow: 0px 0px 5px yellow;
-moz-text-shadow: 0px 0px 5px yellow;
text-shadow: 0px 0px 5px yellow;
border-color: yellow;
-moz-box-shadow:0px 0px 5px yellow; -webkit-box-shadow:0px 0px 5px yellow; box-shadow:0px 0px 5px yellow;
}
.help{
  line-height: 50px;
   text-align: center;
   vertical-align: text-bottom;
font-size: 28px;
font-family: AgentOrange;
color:white;
font-weight:900;

}

.overlay{

  position: absolute;
 font-family: AgentOrange;
   text-align: center;
   vertical-align: text-bottom;
font-size: 18px;
line-height: 50px;
color:black;

}
.descr{
border: 1px solid white;

 border-radius: 10pt;
   -moz-border-radius:10px;
   -webkit-border-radius:10px;
-moz-box-shadow:0px 0px 5px yellow; -webkit-box-shadow:0px 0px 5px yellow; box-shadow:0px 0px 5px yellow;
}
.side{
   border-radius: 5pt;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
  display: none;
  z-index: -1;
}
.mid{

 display: block;
  z-index: 1001;
}
.side.show{
   display: block;
    z-index: 1001;
}
.mid.off{
   display: none;
    z-index: -1;
}
.menuoption{
background: rgba(254, 245, 202, 0.8);
z-index:1001;
}

#reset, #timersetting{
   background: rgba(224, 238, 238, 0.8);
}
#aiswitch{

  
  left:5px;
  top:5px;
  width:46px;
  height:48px;
  
}
#aiswitch2{


  left:5px;
  top:560px;
  width:46px;
  height:48px;
  
}
#helpbtn{
 
  left:400px;
  top:5px;
  width:46px;
  height:46px;
   
}
  #menubtn{
     
  left:400px;
  top:560px;
  width:46px;
  height:48px;
 
  }
  #hpbar{
    left:60px;
  top:560px;
  width:330px;
  height:48px;
background:rgba(254, 245, 202, 0.8);
  }
  #hpbar2{
background:rgba(254, 245, 202, 0.8);
    left:60px;
  top:5px;
  width:330px;
  height:48px;
  }
#turnswitch{
  left:5px;
  top:62px;
  width:46px;
  height:211px;
}
#turnswitch2{
  left:400px;
  top:62px;
  width:46px;
  height:211px;
}
#turnswitch3{
  left:5px;
  top:340px;
  width:46px;
  height:211px;
}
#turnswitch4{
  left:400px;
  top:340px;
  width:46px;
  height:211px;
}
#score{
  left:5px;
  top:282px;
  width:46px;
  height:48px;
}
#score2{
  left:400px;
  top:282px;
  width:46px;
  height:48px;
}
#timer{
   left:60px;
  top:282px;
  width:330px;
  height:48px;
  background:rgba(254, 245, 202, 0.8);
}
#numberpad{
  left:60px;
  top:340px;
  width:330px;
  height:211px;
 background: rgba(224, 238, 238, 0.8);
  }
#numberpad2{
  left:60px;
  top:62px;
  width:330px;
  height:211px;
  background: rgba(224, 238, 238, 0.8);
  }
  #sideshow{
    left:5px;
  top:5px;
  width:46px;
  height:600px;
  border: white dotted;
  }
  #sideshow2{
    left:400px;
  top:5px;
  width:46px;
  height:600px;
  border: white dotted;
  }
  #midshow{
      left:60px;
  top:5px;
  width:330px;
  height:600px;
  border: white dotted;

  }
#gamemode{
        left:45px;
  top:125px;
  width:360px;
  height:50px;

}
#timersetting{
        left:45px;
  top:225px;
  width:360px;
  height:50px;

}
#rotationsetting{
        left:45px;
  top:325px;
  width:360px;
  height:50px;

}
#reset{
        left:45px;
  top:425px;
  width:360px;
  height:50px;

}

.rightbubble 
{

  margin-left: 52px;
position: relative;
width: 300px;
height: 50px;
padding: 0px;
 background: rgba(224, 238, 238, 0.8);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;

border: 1px solid white;
-moz-box-shadow:0px 0px 8px yellow; -webkit-box-shadow:0px 0px 8px yellow; box-shadow:0px 0px 8px yellow;
}

.rightbubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 10px 27px 10px 0;
border-color: transparent rgba(224, 238, 238, 0.8);
display: block;
width: 0;
z-index: 1;
left: -27px;
top: 15px;
}

.rightbubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 11px 28px 11px 0;
border-color: transparent white;;

display: block;
width: 0;
z-index: 0;
left: -30px;
top: 14px;
}
.leftbubble 
{
position: relative;
width: 250px;
height: 50px;
padding: 0px;
background: rgba(254, 245, 202, 0.8);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: white solid 1px;
-moz-box-shadow:0px 0px 8px yellow; -webkit-box-shadow:0px 0px 8px yellow; box-shadow:0px 0px 8px yellow;
}

.leftbubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 17px 6px 0;
border-color: rgba(254, 245, 202, 0.8) transparent;
display: block;
width: 0;
z-index: 1;
bottom: -17px;
left: 225px;
}

.leftbubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 18px 7px 0;
border-color: white transparent;
display: block;
width: 0;
z-index: 0;
bottom: -20px;
left: 224px;
}

.gridnum{
  -webkit-transform: rotate(0deg);
-o-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
   -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}
.gridnum.rotatetext{
-webkit-transform: rotate(180deg);
-o-transform: rotate(180deg);
-moz-transform: rotate(180deg);
transform: rotate(180deg);
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

.scorenum{
  -webkit-transform: rotate(0deg);
-o-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
   -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}
.scorenum.rotatetext{
-webkit-transform: rotate(180deg);
-o-transform: rotate(180deg);
-moz-transform: rotate(180deg);
transform: rotate(180deg);
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}
#winboard{
  position: absolute;
 left:45px;
  top:200px;
  width:365px;
  height:200px;
 border-radius: 10pt;
-moz-border-radius:10px;
-webkit-border-radius:10px;
 background: rgba(254, 245, 202, 0.8);
z-index:1001;
border: 1px white solid;
-moz-box-shadow:0px 0px 5px yellow; -webkit-box-shadow:0px 0px 5px yellow; box-shadow:0px 0px 5px yellow;
line-height: 100px;
font-family: AgentOrange;
  font-size: 30px;

}
#continue{
   position: absolute;
 left:65px;
  top:310px;
    width:150px;
  height:50px;
   background: rgba(224, 238, 238, 0.8);
   border: 2px white solid;

 border-radius: 10pt;
-moz-border-radius:10px;
-webkit-border-radius:10px;
z-index:1001;
font-family: AgentOrange;
  font-size: 20px;
  line-height: 50px;
   -webkit-box-shadow: 
        0 2px 5px rgba(0,0,0,0.5); 

  -moz-box-shadow: 
       0 2px 5px rgba(0,0,0,0.5); 
        
  box-shadow: 
        0 2px 5px rgba(0,0,0,0.5);
}
#reset2{
  position: absolute;
 left:235px;
  top:310px;
    width:150px;
  height:50px;
   background: rgba(224, 238, 238, 0.8);
   border: 2px white solid;

 border-radius: 10pt;
-moz-border-radius:10px;
-webkit-border-radius:10px;
z-index:1001;
font-family: AgentOrange;
  font-size: 20px;
  line-height: 50px;
   -webkit-box-shadow: 
        0 2px 5px rgba(0,0,0,0.5); 

  -moz-box-shadow: 
       0 2px 5px rgba(0,0,0,0.5); 
        
  box-shadow: 
        0 2px 5px rgba(0,0,0,0.5);
}
#oscb{
   position: absolute;
 left:55px;
  top:5px;
  width:345px;
  height:265px;
 border-radius: 10pt;
-moz-border-radius:10px;
-webkit-border-radius:10px;
 background: rgba(254, 245, 202, 0.8);
z-index:1001;
border: 1px white solid;
-moz-box-shadow:0px 0px 5px yellow; -webkit-box-shadow:0px 0px 5px yellow; box-shadow:0px 0px 5px yellow;
}
#sscb{
  left:55px;
  top:335px;
  width:345px;
  height:265px;
   position: absolute;
 background: rgba(224, 238, 238, 0.8);
 border-radius: 10pt;
-moz-border-radius:10px;
-webkit-border-radius:10px;
z-index:1001;
border: 1px white solid;
-moz-box-shadow:0px 0px 5px yellow; -webkit-box-shadow:0px 0px 5px yellow; box-shadow:0px 0px 5px yellow;
}
.scbtext{
  font-size: 20px;
  line-height: 30px;
  font-family: AgentOrange;
 
}
.floatgrid{
   width:40px;
   height:40px;
  line-height: 40px;
 position: absolute;
border:2px solid white;
z-index: 1001;
border-radius: 10pt;
-moz-border-radius:10px;
-webkit-border-radius:10px;
background: #800080;
font-family: AgentOrange;
color:white;
font-size: 18px;
 -webkit-box-shadow: 
        0 1px 5px rgba(0,0,0,0.5); 

  -moz-box-shadow: 
       0 1px 5px rgba(0,0,0,0.5); 
        
  box-shadow: 
        0 1px 5px rgba(0,0,0,0.5); 
}

#o80l{
 
  left:120px;
  top:70px;
  background: #800080;
}
#o80u{

  left:215px;
  top:70px;
  background: #800080;
}
#o60l{
  
  left:120px;
  top:120px;
  background: mediumblue;
}
#o60u{
 
  left:215px;
  top:120px;
  background: mediumblue;
}
#o30l{
 
  left:120px;
  top:170px;
  background: darkgreen;
}
#o30u{

  left:215px;
  top:170px;
  background: darkgreen;
}
#o0l{

  left:120px;
  top:220px;
  background: orangered;
}
#o0u{

  left:215px;
  top:220px;
  background: orangered;
}
#s80l{
 
  left:120px;
  top:400px;
  background: #800080;
}
#s80u{

  left:215px;
  top:400px;
  background: #800080;
}
#s60l{

  left:120px;
  top:450px;
  background: mediumblue;
}
#s60u{

  left:215px;
  top:450px;
  background: mediumblue;
}
#s30l{
 
  left:120px;
  top:500px;
  background: darkgreen;
}
#s30u{

  left:215px;
  top:500px;
  background: darkgreen;
}
#s0l{

  left:120px;
  top:550px;
  background: orangered;
}
#s0u{
 
  left:215px;
  top:550px;
  background: orangered;
}
.floattext{
   position: absolute;
   font-size: 20px;
  line-height: 30px;
  font-family: AgentOrange;
  z-index:1002;

}
#arrow1{
left:180px;
  top:75px;
}
#arrow2{
left:180px;
  top:125px;
}
#arrow3{
left:180px;
  top:175px;
}
#arrow4{
left:180px;
  top:225px;
}
#arrow5{
left:180px;
  top:405px;
}
#arrow6{
left:180px;
  top:455px;
}
#arrow7{
left:180px;
  top:505px;
}

#arrow8{
left:180px;
  top:555px;
}
#equal1{
left:275px;
  top:75px;
}
#equal2{
left:275px;
  top:125px;
}
#equal3{
left:275px;
  top:175px;
}
#equal4{
left:275px;
  top:225px;
}
#equal5{
left:275px;
  top:405px;
}
#equal6{
left:275px;
  top:455px;
}
#equal7{
left:275px;
  top:505px;
}

#equal8{
left:275px;
  top:555px;
}
#o80v{
left:300px;
  top:75px;
}
#o60v{
left:300px;
  top:125px;
}
#o30v{
left:300px;
  top:175px;
}
#o0v{
left:300px;
  top:225px;
}
#s80v{
left:300px;
  top:405px;
}
#s60v{
left:300px;
  top:455px;
}
#s30v{
left:300px;
  top:505px;
}

#s0v{
left:300px;
  top:555px;
}
