h1,h2{
  text-align: left;
}

.progressbar {
  width:100%;
  height:80%;
  background: #eee;
  border: 1px solid #fff; 
  border-radius: 5px; 
  overflow: hidden;
  box-shadow: 0 0 5px #333;       
}
.progressbar div {
  height:100%;
    font-size: 25px;
   
    font-family: AgentOrange;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0099FF), to(#1a82f7)); 
  background: -webkit-linear-gradient(top, #0099FF, #1a82f7); 
  background: -moz-linear-gradient(top, #0099FF, #1a82f7); 
  background: -ms-linear-gradient(top, #0099FF, #1a82f7); 
  background: -o-linear-gradient(top, #0099FF, #1a82f7);
}
.game{
    margin:0 auto; width:455px; height:615px; 


   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   perspective: 1000;
        background: #eee;
   -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
          -webkit-box-shadow: 
        0 1px 5px rgba(0,0,0,0.15) 
        ; 

  -moz-box-shadow: 
       0 1px 5px rgba(0,0,0,0.15); 
        
  box-shadow: 
        0 1px 5px rgba(0,0,0,0.15); 
    
}
.acceleration{

}
.game:hover {
  cursor: default;
}
.menuwindow{
 position: relative;
  display: none;
}
.helpwindow{
   position: relative;
    display: none;
}
.menuwindow.on{
 position: relative;
   display: block;
}
.menuwindow.on:after {
  content: " ";
  z-index: 1000;
  display: block;
  position: absolute;
  width: 455px;
  height: 615px;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5pt;
-moz-border-radius:5px;
-webkit-border-radius:5px;
}
.helpwindow.on{
 position: relative;
 display: block;
}
.helpwindow.on:after {
  content: " ";
  z-index: 1000;
  display: block;
  position: absolute;
  width: 455px;
  height: 615px;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);

  border-radius: 5pt;
-moz-border-radius:5px;
-webkit-border-radius:5px;
}
.grid{
   width: 46px;
   height:46px;
border:2px solid #fff;

border-radius: 5pt;
-moz-border-radius:5px;
-webkit-border-radius:5px;

-moz-box-shadow:2px 2px 5px #333333; -webkit-box-shadow:2px 2px 5px #333333; box-shadow:2px 2px 5px #333333;
}
.self{
background-color:#e0eeee;
}
.oppo{
background-color: #fef5ca;
}
.gamepanel{
position: relative;
   float: left;
   width: 335px;
   top:5px;
   left:10px;
}
.leftcol{
position: relative;
   float: left;
   width: 50px;
   height:605px;
   background-color: #e7e7de;
   top: 5px;
   left:5px;
   
   border-radius: 5pt;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
}
.leftcol1{
   position: relative;
   top: 0px;
   left: 0px;
   width:46px;
   height:48px;
   background-color: #8ee5ee;
   border: 2px solid white;
   border-style: outset;
   border-radius: 5pt;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
}
.leftcol2{
   position: relative;
   top:5px;
   left: 0px;
   width:46px;
   height:211px;
   background-color: tomato;
   border: 2px solid white;
   border-radius: 5pt;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
}

.leftcol4{
   position: relative;
   float: left;
   top: 10px;
   left: 0px;
   width:46px;
   height:48px;
   background-color: #fef5ca;
   border: 2px solid white;
   border-style: outset;
   border-radius: 5pt;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
}

.leftcol6{
   position: relative;
   float: left;
   top: 15px;
   left: 0px;
   width:46px;
   height:211px;
   background-color:#33ff33;
   border: 2px solid white;
   border-radius: 5pt;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
}
.leftcol7{
   position: relative;
   float: left;
   top: 20px;
   left: 0px;
   width:46px;
   height:48px;
   background-color: #8ee5ee;
   border: 2px solid white;
   border-style: outset;
   border-radius: 5pt;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
}
.rightcol{
position: relative;
   float: left;
   width: 50px;
   height:605px;
   background-color: #e7e7de;
   top: 5px;
   left:15px;
}
.rightcol1{
   position: relative;
   
   left: 0px;
   width:46px;
   height:48px;
   background-color: #8ee5ee;
   border: 2px solid white;
   border-radius: 5pt;
   border-style: outset;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
}
.rightcol2{
   position: relative;
   top:5px;
   left: 0px;
   width:46px;
   height:211px;
   background-color: tomato;
   border-radius: 5pt;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   border: 2px solid white;
}

.rightcol4{
   position: relative;
   float: left;
   top: 10px;
   left: 0px;
   width:46px;
   height:48px;
   background-color: #e0eeee;
   border: 2px solid white;
   border-style: outset;
   border-radius: 5pt;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
}

.rightcol6{
   position: relative;
   float: left;
   top: 15px;
   left: 0px;
   width:46px;
   height:211px;
   background-color: #33ff33;
    border: 2px solid white;
   border-radius: 5pt;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;

}
.rightcol7{
   position: relative;
   float: left;
   top: 20px;
   left: 0px;
   width:46px;
   height:48px;
   background-color: #8ee5ee;
   border: 2px solid white;
   border-style: outset;
   border-radius: 5pt;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
}
.outline{
    position: relative;
   float: left;
   left: 0px;
   width: 100%;

   text-align: center;
 
}
.wrapper{
   position: relative;
   float: left;
   width: 335px;
   height: 50px;
   margin-bottom: 5px;
  border-radius: 5pt;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;

}
.col1{
   position: absolute;
   
   left: 5px;
 
}
.col2{
   position: absolute;
  
   left: 60px;
  
  
}
.col3{
    position: absolute;
   left: 115px;
  
}
.col4{
  position: absolute;
  
   left: 170px;
  
  
}
.col5{
   position: absolute;
  
   left: 225px;

  
}
.col6{
  position: absolute;
  
   left: 280px;

  
}

body {
  
   border-width: 0px;
   padding: 0px;
   margin: 0px;
   font-size: 90%;
   background-color: #e7e7de;
   text-align:center;
   overflow:hidden;

}
@font-face {
   font-family: AgentOrange;
   src: url('AgentOrange.ttf');
}
.gridnum{
  line-height: 45px;
   text-align: center;
   vertical-align: text-bottom;
font-size: 22px;
font-family: AgentOrange;
}
.scorenum{
 line-height: 45px;
   text-align: center;
   vertical-align: text-bottom;
font-size: 22px;
font-family: AgentOrange;
color:red;
font-weight:900;

}
.barnum{
 line-height: 45px;
   text-align: center;
   vertical-align: text-bottom;
font-size: 22px;
font-family: AgentOrange;
color:red;
font-weight:900;
}
.ai{
  margin-top:5px;
   text-align: center;
   vertical-align: text-bottom;
font-size: 22px;
font-family: AgentOrange;
color:white;
font-weight:900;
-webkit-text-shadow: 0px 0px 5px yellow;
-moz-text-shadow: 0px 0px 5px yellow;
text-shadow: 0px 0px 5px yellow;

}
.menu{
  text-align: center;
  margin-top: 0px;
 text-align: center;
 font-size: 35px;
color: white;
 font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
-webkit-transform: rotate(-90deg); 
-moz-transform: rotate(-90deg); 
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.active{
  -webkit-text-shadow: 0px 0px 5px yellow;
-moz-text-shadow: 0px 0px 5px yellow;
text-shadow: 0px 0px 5px yellow;
border-color: yellow;
-moz-box-shadow:0px 0px 5px yellow; -webkit-box-shadow:0px 0px 5px yellow; box-shadow:0px 0px 5px yellow;
}
.help{
   padding-top: 3px;
   text-align: center;
   vertical-align: text-bottom;
font-size: 28px;
font-family: AgentOrange;
color:white;
font-weight:900;

}

.overlay{

  position: absolute;
 
   text-align: center;
   vertical-align: text-bottom;
font-size: 28px;

color:white;

-webkit-text-shadow: 0px 0px 5px orange;
-moz-text-shadow: 0px 0px 5px orange;
text-shadow: 0px 0px 5px orange;
}
.descr{
border: 2px solid white;
 border-radius: 5pt;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
-moz-box-shadow:0px 0px 5px yellow; -webkit-box-shadow:0px 0px 5px yellow; box-shadow:0px 0px 5px yellow;
}
.side{
  display: none;
  z-index: -1;
}
.mid{
 display: block;
  z-index: 1001;
}
.side.show{
   display: block;
    z-index: 1001;
}
.mid.off{
   display: none;
    z-index: -1;
}
.menuoption{
  background: rgba(0, 155, 255, 0.6);
z-index:1001;
}

#aiswitch{

  
  left:5px;
  top:5px;
  width:46px;
  height:48px;
  
}
#aiswitch2{


  left:5px;
  top:560px;
  width:46px;
  height:48px;
  
}
#helpbtn{
 
  left:400px;
  top:5px;
  width:46px;
  height:46px;
   
}
  #menubtn{
     
  left:400px;
  top:560px;
  width:46px;
  height:48px;
 
  }
  #hpbar{
    left:60px;
  top:560px;
  width:330px;
  height:48px;
  }
  #hpbar2{
    left:60px;
  top:5px;
  width:330px;
  height:48px;
  }
#turnswitch{
  left:5px;
  top:62px;
  width:46px;
  height:211px;
}
#turnswitch2{
  left:400px;
  top:62px;
  width:46px;
  height:211px;
}
#turnswitch3{
  left:5px;
  top:340px;
  width:46px;
  height:211px;
}
#turnswitch4{
  left:400px;
  top:340px;
  width:46px;
  height:211px;
}
#score{
  left:5px;
  top:282px;
  width:46px;
  height:48px;
}
#score2{
  left:400px;
  top:282px;
  width:46px;
  height:48px;
}
#timer{
   left:60px;
  top:282px;
  width:330px;
  height:48px;
}
#numberpad{
  left:60px;
  top:340px;
  width:330px;
  height:211px;
  }
#numberpad2{
  left:60px;
  top:62px;
  width:330px;
  height:211px;
  }
  #sideshow{
    left:5px;
  top:5px;
  width:46px;
  height:600px;
  border:dotted;
  }
  #sideshow2{
    left:400px;
  top:5px;
  width:46px;
  height:600px;
  border:dotted;
  }
  #midshow{
      left:60px;
  top:5px;
  width:330px;
  height:600px;
  border:dotted;
  }
#gamemode{
        left:45px;
  top:125px;
  width:360px;
  height:50px;

}
#timersetting{
        left:45px;
  top:225px;
  width:360px;
  height:50px;

}
#rotationsetting{
        left:45px;
  top:325px;
  width:360px;
  height:50px;

}

.rightbubble 
{

  margin-left: 52px;
position: relative;
width: 250px;
height: 50px;
padding: 0px;
background: rgba(0, 0, 0, 0.5);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #F6B579 solid 2px;
}

.rightbubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 10px 27px 10px 0;
border-color: transparent rgba(0, 0, 0, 0.8);
display: block;
width: 0;
z-index: 1;
left: -27px;
top: 15px;
}

.rightbubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 11px 28px 11px 0;
border-color: transparent #F6B579;
display: block;
width: 0;
z-index: 0;
left: -30px;
top: 14px;
}
.leftbubble 
{
position: relative;
width: 250px;
height: 50px;
padding: 0px;
background: rgba(0, 0, 0, 0.8);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #F6B579 solid 2px;
}

.leftbubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 17px 6px 0;
border-color: rgba(0, 0, 0, 0.8) transparent;
display: block;
width: 0;
z-index: 1;
bottom: -17px;
left: 225px;
}

.leftbubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 18px 7px 0;
border-color: #F6B579 transparent;
display: block;
width: 0;
z-index: 0;
bottom: -20px;
left: 224px;
}
.barnum{
 
   -webkit-transform: rotate(0deg);
-o-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
   -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}
.barnum.rotatetext{

-webkit-transform: rotate(180deg);
-o-transform: rotate(180deg);
-moz-transform: rotate(180deg);
transform: rotate(180deg);
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}
.gridnum{
  
  -webkit-transform: rotate(0deg);
-o-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
   -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}
.gridnum.rotatetext{

-webkit-transform: rotate(180deg);
-o-transform: rotate(180deg);
-moz-transform: rotate(180deg);
transform: rotate(180deg);
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}

.scorenum{
  line-height: 45px;
  -webkit-transform: rotate(0deg);
-o-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
   -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}
.scorenum.rotatetext{
-webkit-transform: rotate(180deg);
-o-transform: rotate(180deg);
-moz-transform: rotate(180deg);
transform: rotate(180deg);
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}
.rtfixed{
  -webkit-transform: rotate(180deg);
-o-transform: rotate(180deg);
-moz-transform: rotate(180deg);
transform: rotate(180deg);
}

