h1,h2{
  text-align: left;
}

.inner{
  text-align: center;
}

.game{
    margin:0 auto; width:455px; height:615px; 
    
        background: #eee;
   -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
          -webkit-box-shadow: 
        0 1px 1px rgba(0,0,0,0.15), 
        0 10px 0 -5px #eee, 
        0 10px 1px -4px rgba(0,0,0,0.15), 
        0 20px 0 -10px #eee, 
        0 20px 1px -9px rgba(0,0,0,0.15); 

  -moz-box-shadow: 
       0 1px 1px rgba(0,0,0,0.15), 
        0 10px 0 -5px #eee, 
        0 10px 1px -4px rgba(0,0,0,0.15), 
        0 20px 0 -10px #eee, 
        0 20px 1px -9px rgba(0,0,0,0.15); 
        
  box-shadow: 
        0 1px 1px rgba(0,0,0,0.15), 
        0 10px 0 -5px #eee, 
        0 10px 1px -4px rgba(0,0,0,0.15), 
        0 20px 0 -10px #eee, 
        0 20px 1px -9px rgba(0,0,0,0.15); 
    
}


.grid{
   width: 46px;
   height:46px;
border:2px solid #fff;

border-radius: 5pt;
-moz-border-radius:5px;
-webkit-border-radius:5px;

-moz-box-shadow:2px 2px 5px #333333; -webkit-box-shadow:2px 2px 5px #333333; box-shadow:2px 2px 5px #333333;
}
.self{
background-color:#e0eeee;
}
.oppo{
background-color: #fef5ca;
}
.gamepanel{
position: relative;
   float: left;
   width: 335px;
   top:5px;
   left:10px;
}
.leftcol{
position: relative;
   float: left;
   width: 50px;
   height:605px;
   background-color: #e7e7de;
   top: 5px;
   left:5px;
   
   border-radius: 5pt;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
}
.leftcol1{
   position: relative;
   top: 0px;
   left: 0px;
   width:46px;
   height:48px;
   background-color: #8ee5ee;
   border: 2px solid white;
   border-style: outset;
   border-radius: 5pt;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
}
.leftcol2{
   position: relative;
   top:5px;
   left: 0px;
   width:46px;
   height:211px;
   background-color: tomato;
   border: 2px solid white;
   border-radius: 5pt;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
}

.leftcol4{
   position: relative;
   float: left;
   top: 10px;
   left: 0px;
   width:46px;
   height:48px;
   background-color: #fef5ca;
   border: 2px solid white;
   border-style: outset;
   border-radius: 5pt;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
}

.leftcol6{
   position: relative;
   float: left;
   top: 15px;
   left: 0px;
   width:46px;
   height:211px;
   background-color:#33ff33;
   border: 2px solid white;
   border-radius: 5pt;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
}
.leftcol7{
   position: relative;
   float: left;
   top: 20px;
   left: 0px;
   width:46px;
   height:48px;
   background-color: #8ee5ee;
   border: 2px solid white;
   border-style: outset;
   border-radius: 5pt;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
}
.rightcol{
position: relative;
   float: left;
   width: 50px;
   height:605px;
   background-color: #e7e7de;
   top: 5px;
   left:15px;
}
.rightcol1{
   position: relative;
   
   left: 0px;
   width:46px;
   height:48px;
   background-color: #8ee5ee;
   border: 2px solid white;
   border-radius: 5pt;
   border-style: outset;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
}
.rightcol2{
   position: relative;
   top:5px;
   left: 0px;
   width:46px;
   height:211px;
   background-color: tomato;
   border-radius: 5pt;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   border: 2px solid white;
}

.rightcol4{
   position: relative;
   float: left;
   top: 10px;
   left: 0px;
   width:46px;
   height:48px;
   background-color: #e0eeee;
   border: 2px solid white;
   border-style: outset;
   border-radius: 5pt;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
}

.rightcol6{
   position: relative;
   float: left;
   top: 15px;
   left: 0px;
   width:46px;
   height:211px;
   background-color: #33ff33;
    border: 2px solid white;
   border-radius: 5pt;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
}
.rightcol7{
   position: relative;
   float: left;
   top: 20px;
   left: 0px;
   width:46px;
   height:48px;
   background-color: #8ee5ee;
   border: 2px solid white;
   border-style: outset;
   border-radius: 5pt;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
}
.outline{
    position: relative;
   float: left;
   left: 0px;
   width: 100%;

   text-align: center;
 
}
.wrapper{
   position: relative;
   float: left;
   width: 335px;
   height: 50px;
   margin-bottom: 5px;
  border-radius: 5pt;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;

}
.col1{
   position: relative;
   float: left;
   left: 5px;
 
}
.col2{
   position: relative;
   float: left;
   left: 10px;
  
  
}
.col3{
   position: relative;
   float: left;
   left: 15px;
  
}
.col4{
   position: relative;
   float: left;
   left: 20px;
  
  
}
.col5{
   position: relative;
   float: left;
   left: 25px;

  
}
.col6{
   position: relative;
   float: left;
   left: 30px;

  
}
.cols1{
   position: relative;
   float: left;
   left: 5px;
 
  
}
.cols2{
   position: relative;
   float: left;
   left: 10px;
 
  
}
.cols3{
   position: relative;
   float: left;
   left: 15px;

}
.cols4{
   position: relative;
   float: left;
   left: 20px;
  
 
}
.cols5{
   position: relative;
   float: left;
   left: 25px;
  
}
.cols6{
   position: relative;
   float: left;
   left: 30px;
}

@font-face {
   font-family: AgentOrange;
   src: url('AgentOrange.ttf');
}
.gridnum{
   padding-top: 6px;
   text-align: center;
   vertical-align: text-bottom;
font-size: 22px;
font-family: AgentOrange;
}
.scorenum{
  padding-top: 6px;
   text-align: center;
   vertical-align: text-bottom;
font-size: 22px;
font-family: AgentOrange;
color:red;
font-weight:900;
}
